<% content_for :category_bar do %>
	<ul class="NSmenu">
		<li>问答</li>
		<li>最新</li>
		<li>热门</li>
		<li>待解决</li>
		<li>悬赏</li>
	</ul>
	<div id="searchbox">
	</div>
<% end %>
<div id="questions_left">
	<%= render :partial => "show_question", :collection => @questions %>
</div>
<div id="questions_right">
</div>