<% content_for :category_bar do %>
<div>
	<span class="btn">最新</span>
	<span class="btn">热门</span>
	<span class="btn">待解</span>
	<span class="btn">悬赏</span>
	<span class="btn">关注</span>
	<span class="btn">标签</span>
</div>
<div style="float:right">
	<span class="btn" style="padding:3px"><div class="reload"></div></span>
	<span class="btn" style="padding:3px"><div class="add"></div></span>
</div>
<% end %>
<% content_for :list do %>
	<%= render :partial => "show_question", :collection => @questions %>
<% end %>