<% content_for :category_bar do %>
	<ul class="category_bar_menu">
		<li>问答</li>
		<li>最新</li>
		<li>热门</li>
		<li>待解决</li>
		<li>悬赏</li>
	</ul>
<% end %>
<div id="questions_left">
	<%= render :partial => "show_question", :collection => @questions %>
</div>
<div id="questions_right">
</div>