<% div_for show_message do %>
<div class="message_top">
	<div class="message_left">
		<div class="gravatar">
			<%= gravatar_for show_message.user %>
		</div>
	</div>
	<div class="message_right">
		<div class="related_information">
			<div class="user_name">
				<%= link_to show_message.user.name, user_messages_url(show_message.user) %>
			</div>
			<div class="created_time">
				<%= time_ago_in_words show_message.created_at %>
			</div>
		</div>
		<div class="message_description">
			<%= show_message.Description %>
		</div>
	</div>
</div>
<% end %>