<% content_for :category_bar do %>
<div>
	<span class="btn">消息</span>
	<span class="btn">所有</span>
	<span class="btn">自己</span>
	<span class="btn">图片</span>
	<span class="btn">视频</span>
	<span class="btn">音乐</span>
</div>
<div style="float:right">
	<span class="btn" style="padding:3px"><div class="reload"></div></span>
	<span class="btn" style="padding:3px"><div class="add"></div></span>
</div>
<% end %>
<% content_for :list do %>
	<%= render :partial => "show_message", :collection => @messages %>
<% end %>