<% div_for show_reply do %>
<%= render :partial => "questions/user_info", :locals => { :who => show_reply, :master => show_reply.message.user } %>
<%=textilize(coderay(show_reply.Description))%>
	<ul class="functional">
		<li><%= render :partial => "questions/vote", :locals => { :who => show_reply, :type => "r" } %></li>
		<li>回复</li>
	</ul>
</div>
<% end %>