<div class="NSshowReply">
	<%= link_to show_reply.user.name, user_messages_url(show_reply.user) %>
	<%= show_reply.Description %>
	<span style="color:gray;cursor:hand;" title="<%= show_reply.created_at.strftime('%b %d, %Y at%l:%M %p') %>"><%= show_reply.created_at.strftime('~%l:%M %p') %></span>
</div>