html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0 none; font-size:100%; vertical-align:baseline; background:transparent none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }

h3 {
	color: #0077CC; font-size: 14px; font-weight:bold; margin-bottom:5px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	h3 a {
		color:#0077CC; cursor:pointer; text-decoration:none; }
	
hr {
	margin:0 0 5 0px; border:none; border-top: 1px solid #ccc; }

body {
	font-size: 13px; font-family: Helvetica, Verdana, "Microsoft YaHei", "WenQuanYi Micro Hei", "宋体"; }

a {
	color: rgb(153,153,153); cursor:pointer; text-decoration:none; }
	
	a:hover {
		text-decoration:underline; }

#container {
	margin: 0; padding-top: 32px; }

#category_bar {
	width:100%; height: 32px; margin: 0; top: 0; position:fixed; z-index:300;
	background: url(/images/category_bar.png) repeat-x; }
	
	ul.category_bar_menu {
		float:left; margin: 0px; padding: 0px; font-size: 15px; color:white; }
		ul.category_bar_menu li {
			float:left; height: 32px; line-height: 32px; list-style-type:none; display:inline; padding: 0px 20px; }
			ul.category_bar_menu li a {
				text-decoration: none; color:white; }
				ul.category_bar_menu li a img {
					margin-top: 5px; }
				ul.category_bar_menu li a:hover { }

#searchbox {
	-webkit-appearance: searchfield; margin-right:62px; margin-top:5px; margin-bottom:10px; }

.sort {
	float:right; margin-top:7px; margin-bottom:10px; }
	
	.content_sort {
		float:right; }

.logo {
	float: left; height: 27px; width: 96px; margin: 9px 16px 0px 16px; background: url(/images/logo.png) no-repeat; }

#shortcut_bar {
	width:100%; height: 43px; margin: 0; bottom: 0; background: url(/images/shortcut_bar.png) repeat-x; position:fixed; z-index: 300; }

	ul.shortcut_bar_menu {
		float:left; margin: 0px; padding: 0px; font-size: 17px; color:white; }
		ul.shortcut_bar_menu li {
			float:left; height: 43px; line-height: 43px; list-style-type:none; display:inline; padding: 0px 16px; }
			ul.shortcut_bar_menu li a {
				border: 1px solid rgba(0,0,0,.0); padding: 5px 14px; text-decoration: none; color:white; }
				ul.shortcut_bar_menu li a:hover {
					border: 1px solid white; padding: 5px 14px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px; }

#content {
	margin-left:39.2%; padding: 15 15 50 15px;}

#list {
	float: left; width: 38.2%; padding: 5 5 50 5px; }

.question {
	float: left; width: 100%; padding: 5 5 5 0px; border-top: 1px solid #ccc; }
	.question:last-child {
		border-bottom: 1px solid #ccc; }

.statusbox {
	float:left; }
	.status {
		width:38px; margin:0; padding:4px 7px 6px; background:#EEEEEE none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }
		.status .vote {
			text-align:center; }
			.status .vote .votes {
				color:#555555; padding:0 0 7px; text-align:center; }
			.status .vote span {
				color:#808185; display:block; font-weight:bold; }
			.status .vote .vote-count {
				display:block; font-size:200%; }
		.status .ans {
			text-align:center; margin-top:-3px; padding:4px 0; color:#FFFFFF; background:#789e35 none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }
		.status strong {
			color:#FFFFFF; display:block; font-size:120%; }
	.view {
		color:#999999; padding-top:4px; text-align:center; }

.summary {
	margin-left: 57px; }
	.summary h3 {
		font-size:14px;	}
	.summary h3 a {
		color:#0077CC; cursor:pointer; text-decoration:none; }

	.excerpt {
		line-height:1.4; margin:0; padding:0; }

	.tags {
		float: left; }
		.tag {
			float: left; padding: 3px 4px 1px 5px; margin-right: 7px; line-height: 1.2; color: rgb(85,85,85); background: #E0EAF1; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }

.time {
	float:right; color:#99b2cc; cursor:pointer; font-size:12px; }
		
.userinfo {
	margin-left: 61px; margin-bottom:5px; }

ul.functional {
	float: left; margin-top:5px; list-style-type: none; }
	ul.functional li {
		display: inline; }

.at-name a {
	color:#0077CC; }	

.mainwords {
	line-height:1.4; color:#9f927f; }
	.mainwords a {
		color:#9f927f; text-decoration:none; }

#answers {
	float: left; width: 100%; margin-top:10px;}
	.answer {
		float:left; width:100%; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px dotted #CCC; }
		.answer:first-child {
			border-top: 1px solid #CCC; }
#answer-form {
	float:left; width:100%; }
	.ta-detail {
		margin-top:10px; height:150px; }

.message {
	float:left; width: 100%; padding: 5 5 5 0px; border-top: 1px solid #ccc; }
	.message:last-child {
		border-bottom: 1px solid #ccc; }

.gravatar {
	float:left; }
	.gravatar img {
		background-color:white; padding:2px; border:1px solid rgb(208, 208, 208); }

#replies {
	float: left; width: 100%; margin-top:10px;}
	.reply {
		float:left; width: 100%; padding-top: 5px; padding-bottom: 5px; border-bottom: 1px dotted #CCC; }
		.reply:first-child {
			border-top: 1px solid #ccc; }

.new-one {
	float:left; width:70%; }
	.type {
		float:left; width:100%; }
		.tf-title, .ta-detail, .tf-tags {
			float:left; width:100%; font-size:13px; color:#9f927f; margin-bottom:10px; border:1px solid #ccc; }
			.tf-title, .tf-tags {
				height:23px; font-size:14px; color:gray; }
				.tf-title {
					color:#0077CC;}
	.ctrl {
		float:left; width:100%; }
		.btn {
			float:left;}
.tips {
	margin-left: 72%; padding:5px; background:#f8f0aa; border:1px solid #ccc; }
	.tips h3 {
		color:#bc955c; }
	ul.tip {
		color:#bc955c; font-size:14px; padding:5 15 0px; }
		ul.tip li {
			margin-bottom:5px; }