body {
	font-family: Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", Verdana, Arial, "宋体";
	margin: 0;
	padding: 0;
	font-size: 13px;
}

#container {
	width: 980px;
	margin: 0 auto;
	padding-top: 18px;
}

#content {
	width: 930px;
	float: left;
	padding: 10px 25px 50px 25px;
	margin-top: 20px;
}

#category_bar {
	background: url(/images/BlueBanner.png) repeat-x;
	background-color: rgb(81,118,236);
	height: 23px;
	margin: 0;
	top: 0;
	width: 100%;
}

ul.category_bar_menu {
	float: left;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: white;	
}

ul.category_bar_menu li {
	float:left;
	height: 23px;
	line-height: 23px;
	list-style-type:none;
	display:inline;
	padding: 0px 16px;
}

ul.category_bar_menu li a {
	border: 1px solid rgba(0,0,0,.0);
	padding: 5px 14px;
	text-decoration: none;
	color:white;
}

ul.category_bar_menu li a:hover {
	padding: 5px 14px;
	border: 1px solid white;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

#searchbox {
	float: right;
	width: 160px;
	margin-top:6px;
	margin-right: 10px;
	-webkit-appearance: searchfield;
}

.logo {
	float: left;
	margin: 7px 20px 0px 30px;
	background: url(/images/logo.png) no-repeat;
	height: 27px;
	width: 96px;
}

#shortcut_bar {
	background: url(/images/BlueBanner.png) repeat-x;
	background-color: rgb(81,118,236);
	height: 42px;
	margin: 0;
	bottom: 0;
	width:100%;
	position:fixed;
}

ul.shortcut_bar_menu {
	float:left;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	color:white;	
}

ul.shortcut_bar_menu li {
	float:left;
	height: 42px;
	line-height: 42px;
	list-style-type:none;
	display:inline;
	padding: 0px 16px;
}

ul.shortcut_bar_menu li a {
	border: 1px solid rgba(0,0,0,.0);
	padding: 5px 14px;
	text-decoration: none;
	color:white;
}

ul.shortcut_bar_menu li a:hover {
	padding: 5px 14px;
	border: 1px solid white;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

ul.shortcut_bar_menu li img {
	border: 1px solid white;
	width: 26px;
	height: 26px;
	padding: 1px;
	margin-top: 6px;
}

#questions_left {
	float: left;
	width: 70%
}

#questions_right {
	float: right;
	width: 30%;
}

.question {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.question:first-child {
	margin-top: 0px;
}

.question_left {
	float: left;
}

.question_right {
	float: left;
	width:526px;
}
.question_answer_status {
	float: left;
	margin-top: 18px;
	margin-right:5px;
}

.question_answer {
	float: left;
	width: 38px;
	height: 38px;
	padding: 5px;
	background: #f6e281;
	color: #555555;
	text-align:center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

.question_vote {
	float: left;
	width: 38px;
	height: 38px;
	padding: 5px;
	background: #b4c39a;
	color: #946f05;
	text-align:center;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
}

.NSsize {
	font-size: 20px;
	font-weight:bold;
}

.NSmark {
	font-size: 12px;
}

.NSquestion_title {
	font-size: 14px;
}

.question a {
	color: #0077CC;
	text-decoration: none;
}

.question a:visited {
	color: #326397;
}

.question a:hover {
	text-decoration: underline;
}

.question_bottom {
	float: left;
	margin-top: 8px;
	width: 100%;
}

.question_tags {
	float: left;
}

.question_tag {
	float: left;
	padding: 2px 3px;
	margin-right: 7px;
	background: #E0EAF1;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.question_attachment {
	float: right;
	font-size: 12px;
	padding: 2px 3px;
	color: gray;
}

.question_content {
	float: left;
	width: 100%;
}

.question_header {
	padding-bottom: 5px;
	font-size: 14px;
	border-bottom: solid 1px #CCC;
}

.content_vote_body {
	float:left;
}

.content_body {
	float:left;
	width: 870px;
	padding: 0px;
	margin: 0px;
}
.content_body_right{

    
}
.vote_body {
	float:right;
	vertical-align: top;
	width: 60px;
	padding: 0px;
	margin: 0px;
}

.user_info_border {
	float: right;
	border: 2px solid #D6D6D6;
}

.user_info {
	float:left;
	padding: 8px 8px 5px 8px;
	border: 2px solid white;
	background:#E0EAF1;
}

.user_info_grid {
	height:50px;
}

.respond_time {
	float:left;
	margin-top: 3px;
	color: gray;
	font-size: 12px;
}

.gravatar {
	float: left;
	margin-right: 5px;
}

.user_name {
	float: left;
}

#answers {
	float: left;
	width: 100%;
}

.answer {
	float:left;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCC;;
}

.show_answer_comment{
        margin: 5px 0 0 0;
        width:100%;
        border: 1px solid #ccc;
        -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
}
.show_answer_comment ul{
    padding: 0px;
    margin: 0px;
}
.show_answer_comment ul li{
    padding-left: 5px;
    margin: 0px;
    line-height: 25px;
    list-style-type: none;
}
.show_answer_comment ul li span{
    color: #2170A9;
}
.NScomment{
        width:100%;
        min-height:23px;
        background:#e3e9f0;
        
}

.NScomment h1{
    height: 23px;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.NScomment h1 a{
   margin-left: 50px;
   text-align: center;
   color: black;
   text-decoration: none;
   display: block;
   width: 80px;
   height: 23px;
   background: #B5C5D7;
}

.NScommentbox{
  padding-top: 5px;
  background: #B5C5D7;
}

.NScommentbox img{
    border: 1px solid #aaa;
    background: #fff;
    padding: 1px;
    float: left;
    margin: 5px 0 0 5px;
}
.NScommentbox form.new_answer_comment{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;
    float: left;
}

#answer_form {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.button_effect {
	margin: 0px 27px 0px 0px;
	padding: 6px 15px;
	border: 0;
	font-size: 100%;
	color: white;
	background: #5B9CD4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.button_effect:hover {
	background: #72D6FB;
}

.replyTextArea {
	float: left;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	font-size: 100%;
	width: 100%;
	height: 120px;
}


.top_menu {
	float: left;
	width: 100%;
}

.menu_button_style {
	padding: 6px 15px;
	border: 0;
	color: white;
	background: #5B9CD4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.menu_button_style:hover {
	background: #72D6FB;
}

.menu_button_style a {
	color: white;
	text-decoration: none;
}

.menu_button_style a:hover {
	background: #72D6FB;
}

.textfield_effect {
	float: left;
	margin-bottom: 10px;
	width: 600px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color: #333333;
	background-image: url(/images/title.png);
	background-repeat: no-repeat;
}

.textfield_effect:hover {
	border-color: #64acd8;
}

.textarea_effect {
	float: left;
	margin-bottom: 10px;
	width: 600px;
	height: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color: #333333;
}

.textarea_effect:hover {
	border-color: #64acd8;
}

.textfield_effect_for_tags {
	float: left;
	margin-bottom: 10px;
	width: 600px;
	height: 23px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	color: #333333;
	background-image: url(/images/tags.png);
	background-repeat: no-repeat;
}

.textfield_effect_for_tags:hover {
	border-color: #64acd8;
}

.new_question {
	float: left;
	margin-top: 10px;
	margin-bottom: 0px;
}

.vote_up_effect {
	width: 40px;
	height: 25px;
	margin-left: 10px;
	background-color: rgba(0,0,0,.0);
	cursor: pointer;
	background: url(/images/vote_up.png) no-repeat;
	border: 0;
}

.vote_up_effect:hover {
	background: url(/images/vote_up_hover.png) no-repeat;
}

.vote_down_effect {
	width: 40px;
	height: 25px;
	margin-left: 10px;
	margin-top: 1em;
	background-color: rgba(0,0,0,.0);
    cursor: pointer;
	background: url(/images/vote_down.png) no-repeat;
	border: 0;
}

.vote_down_effect:hover {
	background: url(/images/vote_down_hover.png) no-repeat;
}

.vote_count {
	text-align: center;
	font-size: 240%;
	color: rgb(128, 129, 133);
}

.vote_body a,.vote_body img{
   display: block;
   margin:0 auto 10px auto;
}

.correct_answer a{
	width: 30px;
	height: 31px;
	background: url(/images/answer-accepted.png) no-repeat;
}

.correct_answer a:hover{
	width: 30px;
	height: 31px;
	background: url(/images/answer-accepted-on.png) no-repeat;
}

.favorite_question a{
	width: 32px;
	height: 31px;
	background: url(/images/favorite-off.png) no-repeat;
}

.favorite_question a:hover{
	width: 32px;
	height: 31px;
	background: url(/images/favorite-on.png) no-repeat;
}

.top_answers_style {
	font-size: 120%;
	color: gray;
	border-bottom: solid 1px #CCC;
}

.DescriptionArea {
	float: left;
	margin-bottom: 10px;
	width: 600px;
	height: 80px;
	border: 1px solid #ccc;
	font-size: 120%;
}

.ReplyArea {
	
	margin: 7px 0px;
	width: 600px;
	height: 80px;
	border: 1px solid #ccc;
	font-size: 13px;
}

#NSmessages {
	float:left;
	width:100%;
}

.NSnewNote {
	float:left;
	width:100%;
}

.NSavatar {
	float:left;
}

.NSnoteTriangle {
	float:left;
	width:10px;
	height:16px;
	margin-top: 8px;
	margin-left:50px;
	background-image: url(/images/sharebox-triangle.png);
	background-repeat: no-repeat;
	position:absolute;
}

.NSnote {
	float:left;
	margin-left:3px;
}

.NSmessage {
	float:left;
	width:100%;
	margin-top:10px;
}

.NSinfoStream {
	float:left;
	width:100%;
	border: 1px solid #ccc;
	border-bottom:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.avatar {
	float:left;
	margin:7px;
	width:50px;
}

.NSinfoStream .textStream {
	float: left;
	margin: 7px 7px 7px 0px;
	width: 859px;
}

.NSinfoStream .topStream {
	float:left;
	width:100%;
}

.NSinfoStream .name {
	float:left;
}

.NSinfoStream .Description {
	float:left;
	margin-top:3px;
	clear:left;
	width:100%;
}

.NSinfoStream .timeago {
	float:right;
	color:gray;
	font-size:80%;
}

.NSinfoStream a, #topnav a:visited {
	color: #2170a9;
	text-decoration: none;
}

.NSinfoStream a:hover {
	text-decoration: underline;
}

.NSfunctionStream {
	float:left;
	width:100%;
	min-height:23px;
	background:#e3e9f0;
	border: 1px solid #ccc;
	border-top: none;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

.repliesStream {
	float:left;
	width:100%;
	margin-top:7px;
}

.NSshowReply {
	margin-top:5px;
}

.NSreplybox{
    float:left;
    background: #B5C5D7;
    width: 100%;
    padding-bottom: 5px;
}

ul.NSreply_menus {
	float:left;
	margin: 0px 0px 0px 64px;
	padding: 0px;
}

ul.NSreply_menus li {
	list-style-type:none;
	display:inline;
}

ul.NSreply_menus li a {
	color: black;
	display: block;
	line-height: 23px;
	text-decoration: none;
	padding: 0px 8px;
}

ul.NSreply_menus li a img {
	vertical-align:middle;
	margin-right:3px;
}

.NSreply{
	float: left;
}

.ok_cancel_button {
	float:left;
	clear: left;
}