html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0 none; font-size:100%; vertical-align:baseline; background:transparent none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }

h3 {
	color: #0077CC; font-size: 16px; font-weight:bold; margin-bottom:5px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	h3 a {
		color:#0077CC; cursor:pointer; text-decoration:none; }
	
hr {
	margin:0 0 5 0px; border:none; border-top: 1px solid #ccc; }

body {
	background-color:#ebeff9; font-size: 13px; font-family: Helvetica, Verdana, "Microsoft YaHei", "WenQuanYi Micro Hei", "宋体"; }

a {
	color: rgb(136,136,136); cursor:pointer; text-decoration:none; }
	
	a:hover {
		text-decoration:underline; }

#container {
	margin: 0; padding-top: 48px; }

.add {
	background-image: url(/images/add.png);
	height: 18px;
	width: 18px;
}
.reload {
	background-image: url(/images/reload.png);
	height: 18px;
	width: 18px;
}
.btn {
	-webkit-border-image: url(/images/btn.png) 4 4 5 4 stretch stretch;
	-moz-border-image: url(/images/btn.png) 4 4 5 4 stretch stretch;
	border-width: 4px 4px 5px 4px;
	color: rgb(46, 73, 135);
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	line-height: 23px;
	margin: 6px 6px 5px 6px;
	min-width: 14px;
	padding: 0px 6px 1px 6px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}
.d {
	margin: 10px 6px 5px 6px; }


#category_bar {
	width:100%; height: 48px; margin: 0; top: 0; position:fixed; background: url(/images/bg.png) repeat-x; }
#shortcut_bar {
	width:100%; height: 48px; margin: 0; bottom: 0; position:fixed; background: url(/images/dbg.png) repeat-x; }


#searchbox {
	-webkit-appearance: searchfield; margin-bottom:10px; margin-left:10px; width:100%; }


#content {
	margin-left:40.8%; padding:10 0 48 0px; }

#list {
	float: left; width: 38%; padding:0 0 44 0px; margin-top:-4px; }

.question, .message {
	float: left; width: 100%; padding: 10px; border-top: 1px solid #ccc; border-right:1px solid #ccc; /*background: rgb(245, 247, 251);*/ background:white; }
	.question:last-child, .message:last-child {
		border-bottom: 1px solid #ccc; }

.pop {
	float:left; width:95%; padding:10px; border: 1px solid rgb(175, 177, 184); border-bottom:none; -webkit-box-shadow: rgb(175, 177, 184) 0px 0px 2px; background-color:white; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; }
	.fc {
		float:left; width:95%; padding:10px; height:14px; color:#78a3f5; font-size:14px; border: 1px solid rgb(175, 177, 184); border-top: none; -webkit-box-shadow: rgb(175, 177, 184) 0px 0px 2px; background: url(/images/fc.png) repeat-x; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; }
		.fc img {
			padding:0 3px;
		}
		.fc span {
			padding:0 20px; }

.statusbox {
	float:left; }
	.status {
		width:38px; margin:0; padding:4px 7px 6px; background:#EEEEEE none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }
		.status .vote {
			text-align:center; }
			.status .vote .votes {
				color:#555555; padding:0 0 7px; text-align:center; }
			.status .vote span {
				color:#808185; display:block; font-weight:bold; }
			.status .vote .vote-count {
				display:block; font-size:200%; }
		.status .ans {
			text-align:center; margin-top:-3px; padding:4px 0; color:#FFFFFF; background:#789e35 none repeat scroll 0 0; -moz-background-clip:border; -moz-background-inline-policy:continuous; -moz-background-origin:padding; }
		.status strong {
			color:#FFFFFF; display:block; font-size:120%; }
	.view {
		color:#999999; padding-top:4px; text-align:center; }

.summary {
	margin-left: 62px; }
	.summary h3 {
		font-size:16px; margin-bottom:3px;}
	.summary h3 a {
		color:#0077CC; cursor:pointer; text-decoration:none; }

	.excerpt {
		line-height:1.4; margin:0; padding:0; font-size:14px; }

	.tags {
		float: left; margin-top:2px; }
		.tag {
			font-size: 14px; float: left; line-height:normal; padding:1 10px; margin-right: 7px; color: black; background: #dee7f8; border:1px solid #a4bdec; -webkit-border-radius: 10px; -moz-border-radius: 10px; }

.time {
	float:right; color:#c0c0c0; cursor:pointer; font-size:12px; }
		
.userinfo {
	margin-left: 61px; margin-bottom:5px; }

ul.functional {
	float:left; list-style-type:none; }
	ul.functional li {
		display: inline; }

.at-name a {
	color:#0077CC; font-size:14px; }	
.show-mainwords {
	color:#9f927f; }

.mainwords {
	line-height:1.4; color:#9f927f; font-size:14px; }
	.mainwords p {
		 min-height:36px; }
	.mainwords a {
		color:#9f927f; text-decoration:none; }

#answers, #replies {
	float: left; width:100%; margin-top:8px; }
	.answer, .reply {
		float:left; width:100%; margin-bottom:8px; }

#answer-form {
	float:left; width:100%; }
	.ta-detail {
		height:150px; }

.gravatar {
	float:left; }
	.gravatar img {
		background-color:white; padding:2px; border:1px solid rgb(208, 208, 208); }
	.gravatar .vc {
		text-align:center; font-size:19px; color: rgb(128, 129, 133); }

.new-one {
	float:left; width:70%; }
	.type {
		float:left; width:100%; }
		.tf-title, .ta-detail, .tf-tags {
			float:left; width:100%; font-size:13px; color:#9f927f; margin-bottom:10px; border:1px solid #ccc; }
			.tf-title, .tf-tags {
				height:23px; font-size:14px; color:gray; }
				.tf-title {
					color:#0077CC;}
	.ctrl {
		float:left; width:100%; }
		.btn {
			float:left;}
.tips {
	margin-left: 72%; padding:5px; background:#f8f0aa; border:1px solid #ccc; }
	.tips h3 {
		color:#bc955c; }
	ul.tip {
		color:#bc955c; font-size:14px; padding:5 15 0px; }
		ul.tip li {
			margin-bottom:5px; }