<% div_for show_answer do %>
<div class="pop">
<%= render :partial => "questions/user_info", :locals => { :who => show_answer, :master => show_answer.question.user } %>
<%=textilize(coderay(show_answer.body))%>
</div>
</div>
<div class="fc">
	<span><%= "#{image_tag('/images/re.png',:border => 0,:width => 14)}回复" %></span>
	<span><%= "#{image_tag('/images/forward.png',:border => 0,:width => 14)}转发" %></span>
</div>
<% end %>